<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
  </head>
  <body>
    <h1>Articles</h1>

    <% for( let article of articles ) { %>
    <div style="background-color: bisque; border-radius: 8px; padding: 18px; color: black;"><%=article.name%></div>
    <div style="background-color: azure; box-shadow: darkgoldenrod; padding: 18px; color: black;">Age : <%=article.age%></div>
    <% } %>
  </body>
</html>
